---

---
<div class="sm:hidden fixed bottom-0 w-full right-0 left-0 bg-white h-14 flex justify-center items-center">
    <a class="bg-red-800 flex items-center justify-center gap-3 py-2 w-[70%] rounded-md" href="">
        <img src="./img/phone.png" alt="">
        <span class="text-white">Call Service</span>
    </a>
</div>