---

---
<footer class="bg-black py-28">
    <div class="container mx-auto">
        <div class="flex flex-col items-center text-center text-white">
            <img class="w-36" src="./img/logo.jpg" alt="">
            <p class="  w-80">Farmers Towing provides fast and reliable towing services 24/7, ensuring safe vehicle transport and roadside assistance when you need it most.</p>
            <h6 class="py-2 font-bold text-4xl">(559) 990-9526</h6>
            <h6 class="py-2">info@towing.com</h6>
            <h6 class="py-2">3025 E Belmont ave fresno ca 9370</h6>
        </div>
    </div>
</footer>