---
import Buttom from "../UX/Buttom.astro"
---

<section>
  <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-0">
    <img class="w-full" src="./img/img-1.jpg" alt="" />
    <div class="bg-[#E81C28] flex flex-col  justify-center items-center p-5">
        <h2 class="text-5xl font-bold text-center">PROBLEMS ON THE ROAD?</h2>
        <h4 class="text-3xl text-center text-white">Don’t worry, we’ve got you covered</h4>
        <Buttom
            link=""
            title="Pide Ya!"
        />
    </div>
    <img class="w-full" src="./img/img-2.jpg" alt="" />
    <img class="w-full" src="./img/img-3.jpg" alt="" />
    <img class="w-full" src="./img/img-4.jpg" alt="" />
    <img class="w-full" src="./img/img-5.jpg" alt="" />
  </div>
</section>
