---
import Buttom from "../UX/Buttom.astro";
---

<header class="" style="background-image: url(./img/bg-header.jpg);">
  <section class="container mx-auto px-5">
    <div class="flex justify-center">
      <div class="md:w-3/4 w-full bg-no-repeat bg-bottom">
        <div class="flex items-center justify-center">
          <div class="1/2 my-8 max-w-[500px]">
            <h1 class="text-white font-extrabold text-8xl">
              TOWING<br />SERVICE
            </h1>
            <p class="text-white">
              fast towing service 24/7 if you have an emergency call us
            </p>
            <Buttom link="" title="Cotiza Ahora" />
          </div>
          <div class="1/2 md:flex justify-center hidden">
            <img src="./img/hour.png" alt="" />
          </div>
        </div>
        <img src="./img/grua.png" alt="" />
      </div>
      <div class="w-1/4 md:flex justify-center hidden">
        <div>
          <img src="./img/gancho.png" alt="" />
        </div>
      </div>
    </div>
  </section>
</header>
