---
import Buttom from "../UX/Buttom.astro"
---
<section class="py-7" style="background-image: url(./img/bg-post.jpg);">
    <div class="xl:max-w-[50%] w-full mx-auto px-3">
        <div class="flex-wrap flex justify-between items-center">
            <h3 class="text-5xl font-bold text-white">Safe and fast towing service<br> <spoan class="text-red-500">At a fair price</spoan> </h3>
            <Buttom 
                link=""
                title="Cotiza Ahora"
            />
        </div>
    </div>
</section>