---
import Buttom from "../UX/Buttom.astro";
---

<section class="py-28">
  <div class="container mx-auto lg:max-w-[60%] w-full">
    <div class="flex lg:flex-row flex-col gap-10">
      <div class="lg:w-1/2 w-full flex flex-col justify-center p-5">
        <h2 class="text-5xl font-bold">
          Tow truck drivers <br /> available for any of <br />
          <span class="text-red-600">your emergencies.</span>
        </h2>
        <p class="py-3">
          At Farmers Towing, we provide fast and reliable roadside assistance to
          keep you moving. Whether you need a tow, jump-start, tire change, or
          fuel delivery, our team is available 24/7 to help. We take pride in
          offering professional and efficient service to ensure your safety and
          peace of mind.
        </p>
        <p class="py-3">
          With years of experience in the towing industry, we are committed to
          delivering top-quality assistance at competitive prices. Our skilled
          drivers and well-equipped fleet are ready to handle any roadside
          emergency with care and efficiency. Trust Farmers Towing for prompt
          and dependable service whenever you need it.
        </p>
        <Buttom link="" title="Cotiza Ahora" />
      </div>
      <div class="lg:w-1/2 w-full flex lg:justify-end justify-center items-center">
        <figure>
          <img src="./img/img-0.png" alt="" />
        </figure>
      </div>
    </div>
  </div>
</section>
