---
---

<section
  class="py-28 bg-white bg-no-repeat bg-right-bottom"
  style="background-image: url(./img/grua-fondo.png);">
  <div class="container mx-auto">
    <div class="p-8">
      <h2 class="text-5xl font-bold">
        Towing<br />
        <span class="text-red-600">Service</span>
      </h2>
      <p>
        We also provide roadside assistance, if you have a dead battery,
        Stranded on the freeway. Can't start the car, Keys locked in the car, we
        also offer winch out..
      </p>
    </div>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-4 xl:w-[70%] w-full">
      <div
        class="bg-[#D9D9D9] flex flex-col justify-center items-center w-80 h-60 p-9 mx-auto">
        <img src="./img/reloj.png" alt="" />
        <h3 class="font-bold text-2xl text-center">Tow truck available 24/7</h3>
        <p class="text-center">Reliable and fast service</p>
      </div>
      <div
        class="bg-[#D9D9D9] flex flex-col justify-center items-center w-80 h-60 p-9 mx-auto">
        <img src="./img/carro.png" alt="" />
        <h3 class="font-bold text-2xl">Accesible prices</h3>
        <p class="text-center">
          Will take care of your vehicle like if it was ours
        </p>
      </div>
      <div
        class="bg-[#D9D9D9] flex flex-col justify-center items-center w-80 h-60 p-9 mx-auto">
        <img src="./img/candado.png" alt="" />
        <h3 class="font-bold text-2xl">Atencion 24/3</h3>
        <p class="text-center">Estamos disponibles en cualquier momento.</p>
      </div>
    </div>
  </div>
</section>
